*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #ffffff;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;    
    height: 100%;
    width: 100%;
    animation: anim 150s  ease-in-out infinite;
    background-image: url(/ks/images/backgroundimages/nubelson-fernandes-9_AChhXcrc8-unsplash.jpg);
  
    background-repeat: no-repeat;


}

.container2{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;    
    height: 100%;
    width: 100%;
    animation: anim 150s  ease-in-out infinite;
    background-image: url(/ks/images/backgroundimages/nubelson-fernandes-9_AChhXcrc8-unsplash.jpg);
  
    background-repeat: no-repeat;


}
.midblock{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;    
    height: 100%;
    width: 100%;
    animation: anim 150s  ease-in-out infinite;
    background-color: black;
  
    background-repeat: no-repeat;
}

.background{
    
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 18%;
    box-sizing:content-box;
    overflow: hidden;
    margin-left: -20vh;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;    
    height: 100%;
    width: 100%;

   background: linear-gradient(to bottom,rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.550), rgb(0, 0, 0.850))  ;
    
}

.bottomblock{
    width: 100%;
    min-height: 30vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;    
    height: 100%;
    width: 100%;
    animation: anim 150s  ease-in-out infinite;
    background-color: black;
  
    background-repeat: no-repeat;
}

.background2{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 18%;
    box-sizing:content-box;
    overflow: hidden;
    margin-left: -20vh;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;    
    height: 100%;
    width: 100%;


    background: linear-gradient(to right,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1))  ;
    
}


ins{
    display:block;
    width: 100%;
    height: 42vh;
}

.projects{
    margin-left: 10%;
    margin-right: 10%;
   

}

.projects .header h3{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.projects .proj-1{
    
    margin-left: 7%;
    margin-right: 1%;
    
}



.projects .proj-1 p{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 1%;
}
.projects .proj-1 p2{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 5%;
   
}

.projects .proj-1 p3{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 5%;

}

.projects .proj-1 p4{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 5%;
    
}

.projects .proj-1 .status{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: rgb(146, 193, 204);
}

.projects .proj-1 h3{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

.projects .proj-1 .type{
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 1%;
    color:rgb(146, 193, 204);
}


.projects .proj-1 .space{
    margin-top: 5%;
}

.projects .proj-1 ul .status{
    list-style:georgian ;
    margin-left: 2vh;
    
}

.projects .proj-1 p2 {
    color:rgb(255, 153, 0);
    
}

.projects .proj-1  p4{
    color: rgb(2, 194, 2);
    
}

.projects .proj-1 p3 {
    color: rgb(255, 0, 43);
    
}



.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    
}

.logo{
    width: 50PX;
    cursor: pointer;
    margin: 30px 0;
    
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;

    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: color 250ms;
}

nav ul li a:hover{
    color: rgb(0, 97, 97);
}

.text{
    position:relative;
    display:inline-block;
    align-items: center;
    top: 20vh;
    left: 40%;
    word-spacing: 2px;
    font-style: normal;
    
}
.text2{
    position:relative;
    display:inline-block;
    align-items: center;
    top: 20vh;
    align-items: center;
    align-content: center;
    text-align: center;
    word-spacing: 2px;
    font-style: normal;
    
}
.text2 p{
    text-align: center;
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    
}

.text2 h1{
    position:relative;
    text-align: center;
    font-weight:500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding-bottom: 30px;
    
}
.text p{
    position:relative;
    text-align: center;
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    
}

.text h1{
    text-align: center;
    font-weight:400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;

}

.but{
    text-align: center;
    align-self: center;
    align-items: center;
    position: relative;
    width: 240px;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right,rgb(0, 0, 0), rgba(99, 98, 98, 0.212), rgba(255, 255, 255, 0))  ;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color  250ms;


}

.but:hover{
    background-color:#ffffff4f
    

}


.text2 .but{
    text-align: center;
    align-self: center;
    align-items: center;
    position: relative;
    width: 240px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    top: 10vh;
    transition: background-color  250ms;

}

.text2 .but:hover{
    background-color:#ffffff4f
    

}

.text3 p{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.text4{
    position:relative;
    display:inline-block;
    align-items: left;
    top: 5vh;
    left: 30vh;
    word-spacing: 2px;
    font-style: normal;
    
}
.text4 p{
    text-align: left;
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    
}

.text4 h1{
    color: #868686;
    position:relative;
    text-align: left;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding-bottom: 20px;

}

.text5{
    position:relative;
    display:inline-block;
    align-items: left;
    top: 5vh;
    left: 90vh;
    word-spacing: 2px;
    font-style: normal;
    
}
.text5 p{
    text-align: left;
    font-weight:100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    
}

.text5 h1{
    color: #868686;
    position:relative;
    text-align: left;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding-bottom: 20px;

}